/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: slategray;
}

input.placeholder{
	text-align: center;
}

.error{
			color: red;
}

.table{
	color: white;
}

#register {
    text-align: center;
    align-items: center;
}

/*ul li a {
    text-align: center !important;
}*/

/*ul {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    position: relative;
}*/

#inner {
  display: table;
  margin: 0 auto;
}